<section id="features" class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Наши преимущества</h2>

      <p class="paragraph section__paragraph">
        В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь, <br>
        войти придётся самостоятельно.
      </p>
    </header>

    <ul class="features-list">
      <li class="feature features-list__item feature--search">
        <h3 class="feature__title">Быстрый поиск</h3>

        <p class="paragraph feature__paragraph">
          В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь
        </p>
      </li>

      <li class="feature features-list__item feature--shield">
        <h3 class="feature__title">Безопасная сделка</h3>

        <p class="paragraph feature__paragraph">
          В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь
        </p>
      </li>

      <li class="feature features-list__item feature--trend">
        <h3 class="feature__title">Продажа на 15% дороже</h3>

        <p class="paragraph feature__paragraph">
          В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь
        </p>
      </li>

      <li class="feature features-list__item feature--agent">
        <h3 class="feature__title">Опытные агенты</h3>

        <p class="paragraph feature__paragraph">
          В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь
        </p>
      </li>
    </ul>
  </div>
</section>