<footer class="footer">
  <section class="footer__top">
    <h2 class="visually-hidden">Навигация</h2>

    <div class="container footer__container">
      <a href="#" class="logo footer__logo">
        <span class="visually-hidden">Траст | Служба недвижимости</span>
        <svg width="230" height="22" viewBox="0 0 230 22">
          <use xlink:href="/img/sprite.svg#logo-trust"></use>
          <use xlink:href="/img/sprite.svg#logo-extend"></use>
        </svg>
      </a>

      <ul class="navigation footer__navigation">
        <li class="navigation__item">
          <a href="#" class="navigation__link">Каталог недвижимости</a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link">Ипотека</a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link">О нас</a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link">Карьера</a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link">Отзывы</a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link">Вакансии</a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link">Прочее</a>
        </li>
      </ul>

      <a href="#" class="button button--fill button--small">Офисы и контакты</a>
    </div>
  </section>

  <section class="footer__bottom">
    <h2 class="visually-hidden">Копирайт</h2>

    <div class="container footer__container">
      <p class="paragraph footer__paragraph">
        ©2000-2022 Компания «Траст». Все права защищены. При использовании материалов гиперссылка обязательна.
      </p>

      <a href="#" class="social footer__social social--vk">
        <svg width="26" height="26" viewBox="0 0 26 26">
          <use xlink:href="/img/sprite.svg#vk"></use>
        </svg>

        <span class="visually-hidden">Наша группа в ВК</span>
      </a>
    </div>
  </section>
</footer>