<header class="header">
	<div class="container header__container">
		<a href="index.html" class="logo header__logo">
			<span class="visually-hidden">Траст | Служба недвижимости</span>
			<svg width="230" height="22" viewBox="0 0 230 22">
				<use xlink:href="img/sprite.svg#logo-trust"></use>
				<use xlink:href="img/sprite.svg#logo-extend" class="logo__extend"></use>
			</svg>
		</a>

		<button type="button" class="header__toggle" aria-controls="main-navigation" aria-expanded="false">
			<span class="visually-hidden header__toggle-text">Развернуть меню</span>

			<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
				<line class="header__toggle-line" x1="1" y1="8" x2="31" y2="8" stroke="#C9C9C9" stroke-width="3"></line>
				<line class="header__toggle-line" x1="1" y1="16" x2="31" y2="16" stroke="#C9C9C9" stroke-width="3"></line>
				<line class="header__toggle-line" x1="1" y1="24" x2="31" y2="24" stroke="#C9C9C9" stroke-width="3"></line>
			</svg>
		</button>

		<nav id="main-navigation" class="navigation header__navigation">
			<a href="#" class="navigation__link" data-call="dropdown" data-on="click" aria-haspopup="true"
			   aria-controls="real-estate-dropdown">
				Каталог <span class="visually-hidden visually-hidden--md">недвижимости</span>
			</a>

			<a href="#" class="navigation__link">Ипотека</a>

			<a href="#" class="navigation__link">О нас</a>

			<a href="#" class="navigation__link">Карьера</a>

			<a href="#" class="navigation__link">Отзывы</a>

			<a href="#" class="navigation__link">Вакансии</a>

			<a href="#" class="navigation__link">Прочее</a>
		</nav>

		<a href="#" class="button header__button button--outline button--small">
			<span class="visually-hidden visually-hidden--md">Офисы и</span> контакты
		</a>

		<div id="real-estate-dropdown" class="dropdown header__dropdown">
			<div class="container dropdown__container">
				<ul class="link-list header__link-list link-list--bold">
					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Все квартиры</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры в новостройке</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры во вторичке</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Акции и скидки</a>
					</li>
				</ul>

				<ul class="link-list header__link-list link-list--dark">
					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры студии</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">1-комнатные квартиры</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">2-комнатные квартиры</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">3-комнатные квартиры</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">4-комнатные квартиры</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры в Воронеже</a>
					</li>
				</ul>

				<ul class="link-list">
					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры на правом берегу</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры на левом берегу</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры в Железнодорожном р-не</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры в Советском р-не</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры в Ленинском р-не</a>
					</li>

					<li class="link-list__item">
						<a href="catalog.html" class="link-list__link">Квартиры в Коминтерновском р-не</a>
					</li>
				</ul>

				<a href="#" class="card header__card card--white card--icon-bonus">
					<h3 class="card__title">Программа лояльности</h3>

					<p class="paragraph header__paragraph">Вступайте в клуб, <br> получайте бонусы <br>и скидки</p>

					<svg width="13" height="12" viewBox="0 0 13 12" class="card__arrow card__arrow--red">
						<use xlink:href="img/sprite.svg#arrow-right"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>