<div class="pagination">
  <a href="#" class="pagination__link pagination__link--first" aria-label="Перейти на страницу 0">0</a>
  <a class="pagination__link pagination__link--active">1</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 2">2</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 3">3</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 4">4</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 5">5</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 6">6</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 7">7</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 8">8</a>
  <a href="#" class="pagination__link" aria-label="Перейти на страницу 9">9</a>
  <a href="#" class="pagination__link pagination__link--last" aria-label="Перейти на страницу 100">100</a>
</div>