<form class="questionnaire">
  <h2 class="visually-hidden">Анкета</h2>

  <div class="container">
    <ul class="questionnaire__list">
      <li class="questionnaire__step questionnaire__step--active" data-index="0">
        <div class="row">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__question">Что вы хотите сделать?</p>
            <p class="paragraph questionnaire__paragraph">
              «Траст» входит в состав Российской Гильдии Риэлторов.
              Стандарты качества услуг компании сертифицированы, деятельность застрахована.
            </p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_1_1" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_1_1" class="questionnaire__label">Купить недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_1_2" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_1_2" class="questionnaire__label">Обменять недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_1_3" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_1_3" class="questionnaire__label">Продать недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_1_4" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_1_4" class="questionnaire__label">Ещё что-то сделать</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row--mt">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__step-point">Вопрос 1 из 5</p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-3 row__col-md-6">
                <button type="button" class="questionnaire__back" disabled>
                  <svg width="13" height="12" viewBox="0 0 13 12">
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                  </svg>

                  <span class="visually-hidden">Назад</span>
                </button>
              </div>

              <div class="row__col-9 row__col-md-6">
                <button type="button"
                        class="button questionnaire__button button--fill button--fluid js-questionnaire-continue"
                        data-set-step="1" disabled>
                  Далее
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="questionnaire__step" data-index="1">
        <div class="row">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__question">Что вы хотите сделать?</p>
            <p class="paragraph questionnaire__paragraph">
              «Траст» входит в состав Российской Гильдии Риэлторов.
              Стандарты качества услуг компании сертифицированы, деятельность застрахована.
            </p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_2_1" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_2_1" class="questionnaire__label">Купить недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_2_2" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_2_2" class="questionnaire__label">Обменять недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_2_3" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_2_3" class="questionnaire__label">Продать недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_2_4" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_2_4" class="questionnaire__label">Ещё что-то сделать</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row--mt">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__step-point">Вопрос 2 из 5</p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-3 row__col-md-6">
                <button type="button" class="questionnaire__back" data-set-step="0">
                  <svg width="13" height="12" viewBox="0 0 13 12">
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                  </svg>

                  <span class="visually-hidden">Назад</span>
                </button>
              </div>

              <div class="row__col-9 row__col-md-6">
                <button type="button"
                        class="button questionnaire__button button--fill button--fluid js-questionnaire-continue"
                        data-set-step="2" disabled>
                  Далее
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="questionnaire__step" data-index="2">
        <div class="row">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__question">Что вы хотите сделать?</p>
            <p class="paragraph questionnaire__paragraph">
              «Траст» входит в состав Российской Гильдии Риэлторов.
              Стандарты качества услуг компании сертифицированы, деятельность застрахована.
            </p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_3_1" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_3_1" class="questionnaire__label">Купить недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_3_2" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_3_2" class="questionnaire__label">Обменять недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_3_3" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_3_3" class="questionnaire__label">Продать недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_3_4" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_3_4" class="questionnaire__label">Ещё что-то сделать</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row--mt">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__step-point">Вопрос 3 из 5</p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-3 row__col-md-6">
                <button type="button" class="questionnaire__back" data-set-step="1">
                  <svg width="13" height="12" viewBox="0 0 13 12">
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                  </svg>

                  <span class="visually-hidden">Назад</span>
                </button>
              </div>

              <div class="row__col-9 row__col-md-6">
                <button type="button"
                        class="button questionnaire__button button--fill button--fluid js-questionnaire-continue"
                        data-set-step="3" disabled>
                  Далее
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="questionnaire__step" data-index="3">
        <div class="row">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__question">Что вы хотите сделать?</p>
            <p class="paragraph questionnaire__paragraph">
              «Траст» входит в состав Российской Гильдии Риэлторов.
              Стандарты качества услуг компании сертифицированы, деятельность застрахована.
            </p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_4_1" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_4_1" class="questionnaire__label">Купить недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_4_2" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_4_2" class="questionnaire__label">Обменять недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_4_3" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_4_3" class="questionnaire__label">Продать недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_4_4" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_4_4" class="questionnaire__label">Ещё что-то сделать</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row--mt">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__step-point">Вопрос 4 из 5</p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-3 row__col-md-6">
                <button type="button" class="questionnaire__back" data-set-step="2">
                  <svg width="13" height="12" viewBox="0 0 13 12">
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                  </svg>

                  <span class="visually-hidden">Назад</span>
                </button>
              </div>

              <div class="row__col-9 row__col-md-6">
                <button type="button"
                        class="button questionnaire__button button--fill button--fluid js-questionnaire-continue"
                        data-set-step="4" disabled>
                  Далее
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="questionnaire__step" data-index="4">
        <div class="row">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__question">Что вы хотите сделать?</p>
            <p class="paragraph questionnaire__paragraph">
              «Траст» входит в состав Российской Гильдии Риэлторов.
              Стандарты качества услуг компании сертифицированы, деятельность застрахована.
            </p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_5_1" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_5_1" class="questionnaire__label">Купить недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_5_2" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_5_2" class="questionnaire__label">Обменять недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_5_3" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_5_3" class="questionnaire__label">Продать недвижимость</label>
                </div>
              </div>

              <div class="row__col-12 row__col-md-6">
                <div class="questionnaire__answer">
                  <input type="radio" id="answer_5_4" class="visually-hidden questionnaire__input"
                         name="answer_1">
                  <label for="answer_5_4" class="questionnaire__label">Ещё что-то сделать</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row--mt">
          <div class="row__col-12 row__col-md-6">
            <p class="questionnaire__step-point">Вопрос 5 из 5</p>
          </div>

          <div class="row__col-12 row__col-md-6">
            <div class="row">
              <div class="row__col-3 row__col-md-6">
                <button type="button" class="questionnaire__back" data-set-step="3">
                  <svg width="13" height="12" viewBox="0 0 13 12">
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                  </svg>

                  <span class="visually-hidden">Назад</span>
                </button>
              </div>

              <div class="row__col-9 row__col-md-6">
                <button type="submit"
                        class="button questionnaire__button button--fill button--fluid js-questionnaire-continue"
                        data-set-step="5" disabled>
                  Готово
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="questionnaire__step questionnaire__step--done" data-index="5">
        <div class="row">
          <div class="row__col-12 row__col-md-4">
            <p class="questionnaire__question">Ваша заявка принята, спасибо</p>
            <p class="paragraph questionnaire__paragraph">
              «Траст» входит в состав Российской Гильдии Риэлторов.
              Стандарты качества услуг компании сертифицированы, деятельность застрахована.
            </p>
          </div>
        </div>

        <div class="row row--mt">
          <div class="row__col-12 row__col-md-3">
            <button type="reset" class="button questionnaire__button button--outline button--grey"
                    data-set-step="0">
              Заполнить заново
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>