<section class="section print-hide">
  <div class="container">
    <h2 class="section__title">Похожие предложения</h2>

    <p class="paragraph section__paragraph">
      В данном случае я выступаю в роли Морфеуса — лишь указываю <br> на дверь, войти придётся самостоятельно.
    </p>

    <div class="slider similar-offers">
      <div id="similar-offers" class="slider__init">
        <ul class="slider__list swiper-wrapper">
          <li class="slider__slide swiper-slide similar-offers__item">
            <article class="apartment apartment--small">
              <div class="apartment__info">
                <h3 class="apartment__title">
                  <a href="object.html" class="apartment__link">2—комн. квартира, 72 м2, 9/9 этаж</a>
                </h3>

                <p class="apartment__price">9 750 000 ₽</p>

                <p class="apartment__address">р-н Железнодорожный, мкр. Боровое, ул. Федора Тютчева, 95М</p>

                <p class="apartment__price-per-meter">75 676 ₽ за м<sup>2</sup></p>
              </div>

              <div class="apartment__buttons">
                <div class="like apartment__like">
                  <input type="checkbox" id="like-1" class="visually-hidden like__input">

                  <label for="like-1" class="like__label">
                    <svg width="21" height="21" viewBox="0 0 21 21">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>

                    <span class="visually-hidden">Нравится</span>
                  </label>
                </div>

                <button type="button" class="button apartment__button button--fill"
                        data-call="phone-number" data-phone="+7 (967) 564 89 81">
                  Показать номер
                </button>
              </div>

              <picture class="apartment__illustration">
                <source media="(min-width: 660px)" type="image/webp"
                        srcset="img/slide-1-desktop@2x.webp 1x, img/slide-1-desktop@2x.webp 2x">
                <source type="image/webp"
                        srcset="img/slide-1-mobile@1x.webp 1x, img/slide-1-mobile@2x.webp 2x">
                <source media="(min-width: 660px)"
                        srcset="img/slide-1-desktop@2x.jpg 1x, img/slide-1-desktop@2x.jpg 2x">

                <img src="img/slide-1-mobile@1x.jpg" srcset="img/slide-1-mobile@2x.jpg 2x"
                     class="apartment__image"
                     width="1055" height="686" alt="3-к квартира, 57м2, 12/15 эт.">
              </picture>

              <p class="tag apartment__special">Кухня в подарок</p>
            </article>
          </li>

          <li class="slider__slide swiper-slide similar-offers__item">
            <article class="apartment apartment--small">
              <div class="apartment__info">
                <h3 class="apartment__title">
                  <a href="object.html" class="apartment__link">2—комн. квартира, 72 м2, 9/9 этаж</a>
                </h3>

                <p class="apartment__price">9 750 000 ₽</p>

                <p class="apartment__address">р-н Железнодорожный, мкр. Боровое, ул. Федора Тютчева, 95М</p>

                <p class="apartment__price-per-meter">75 676 ₽ за м<sup>2</sup></p>
              </div>

              <div class="apartment__buttons">
                <div class="like apartment__like">
                  <input type="checkbox" id="like-2" class="visually-hidden like__input">

                  <label for="like-2" class="like__label">
                    <svg width="21" height="21" viewBox="0 0 21 21">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>

                    <span class="visually-hidden">Нравится</span>
                  </label>
                </div>

                <button type="button" class="button apartment__button button--fill"
                        data-call="phone-number" data-phone="+7 (967) 564 89 81">
                  Показать номер
                </button>
              </div>

              <picture class="apartment__illustration">
                <source media="(min-width: 660px)" type="image/webp"
                        srcset="img/slide-1-desktop@2x.webp 1x, img/slide-1-desktop@2x.webp 2x">
                <source type="image/webp"
                        srcset="img/slide-1-mobile@1x.webp 1x, img/slide-1-mobile@2x.webp 2x">
                <source media="(min-width: 660px)"
                        srcset="img/slide-1-desktop@2x.jpg 1x, img/slide-1-desktop@2x.jpg 2x">

                <img src="img/slide-1-mobile@1x.jpg" srcset="img/slide-1-mobile@2x.jpg 2x"
                     class="apartment__image"
                     width="1055" height="686" alt="3-к квартира, 57м2, 12/15 эт.">
              </picture>

              <p class="tag apartment__special">Кухня в подарок</p>
            </article>
          </li>

          <li class="slider__slide swiper-slide similar-offers__item">
            <article class="apartment apartment--small">
              <div class="apartment__info">
                <h3 class="apartment__title">
                  <a href="object.html" class="apartment__link">2—комн. квартира, 72 м2, 9/9 этаж</a>
                </h3>

                <p class="apartment__price">9 750 000 ₽</p>

                <p class="apartment__address">р-н Железнодорожный, мкр. Боровое, ул. Федора Тютчева, 95М</p>

                <p class="apartment__price-per-meter">75 676 ₽ за м<sup>2</sup></p>
              </div>

              <div class="apartment__buttons">
                <div class="like apartment__like">
                  <input type="checkbox" id="like-3" class="visually-hidden like__input">

                  <label for="like-3" class="like__label">
                    <svg width="21" height="21" viewBox="0 0 21 21">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>

                    <span class="visually-hidden">Нравится</span>
                  </label>
                </div>

                <button type="button" class="button apartment__button button--fill"
                        data-call="phone-number" data-phone="+7 (967) 564 89 81">
                  Показать номер
                </button>
              </div>

              <picture class="apartment__illustration">
                <source media="(min-width: 660px)" type="image/webp"
                        srcset="img/slide-1-desktop@2x.webp 1x, img/slide-1-desktop@2x.webp 2x">
                <source type="image/webp"
                        srcset="img/slide-1-mobile@1x.webp 1x, img/slide-1-mobile@2x.webp 2x">
                <source media="(min-width: 660px)"
                        srcset="img/slide-1-desktop@2x.jpg 1x, img/slide-1-desktop@2x.jpg 2x">

                <img src="img/slide-1-mobile@1x.jpg" srcset="img/slide-1-mobile@2x.jpg 2x"
                     class="apartment__image"
                     width="1055" height="686" alt="3-к квартира, 57м2, 12/15 эт.">
              </picture>

              <p class="tag apartment__special">Кухня в подарок</p>
            </article>
          </li>

          <li class="slider__slide swiper-slide similar-offers__item">
            <article class="apartment apartment--small">
              <div class="apartment__info">
                <h3 class="apartment__title">
                  <a href="object.html" class="apartment__link">2—комн. квартира, 72 м2, 9/9 этаж</a>
                </h3>

                <p class="apartment__price">9 750 000 ₽</p>

                <p class="apartment__address">р-н Железнодорожный, мкр. Боровое, ул. Федора Тютчева, 95М</p>

                <p class="apartment__price-per-meter">75 676 ₽ за м<sup>2</sup></p>
              </div>

              <div class="apartment__buttons">
                <div class="like apartment__like">
                  <input type="checkbox" id="like-4" class="visually-hidden like__input">

                  <label for="like-4" class="like__label">
                    <svg width="21" height="21" viewBox="0 0 21 21">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>

                    <span class="visually-hidden">Нравится</span>
                  </label>
                </div>

                <button type="button" class="button apartment__button button--fill"
                        data-call="phone-number" data-phone="+7 (967) 564 89 81">
                  Показать номер
                </button>
              </div>

              <picture class="apartment__illustration">
                <source media="(min-width: 660px)" type="image/webp"
                        srcset="img/slide-1-desktop@2x.webp 1x, img/slide-1-desktop@2x.webp 2x">
                <source type="image/webp"
                        srcset="img/slide-1-mobile@1x.webp 1x, img/slide-1-mobile@2x.webp 2x">
                <source media="(min-width: 660px)"
                        srcset="img/slide-1-desktop@2x.jpg 1x, img/slide-1-desktop@2x.jpg 2x">

                <img src="img/slide-1-mobile@1x.jpg" srcset="img/slide-1-mobile@2x.jpg 2x"
                     class="apartment__image"
                     width="1055" height="686" alt="3-к квартира, 57м2, 12/15 эт.">
              </picture>

              <p class="tag apartment__special">Кухня в подарок</p>
            </article>
          </li>
        </ul>
      </div>

      <button type="button"
              class="slider__control similar-offers__slider-control slider__control--left">
        <svg width="13" height="12" viewBox="0 0 13 12">
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>

        <span class="visually-hidden">Прокрутить влево</span>
      </button>

      <button type="button"
              class="slider__control similar-offers__slider-control slider__control--right">
        <svg width="13" height="12" viewBox="0 0 13 12">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>

        <span class="visually-hidden">Прокрутить вправо</span>
      </button>

      <div id="similar-offers-scrollbar" class="swiper-scrollbar slider__scrollbar">
        <div class="swiper-scrollbar-drag slider__scrollbar-drag"></div>
      </div>
    </div>
  </div>
</section>