.button {
    border: 1px solid var(--red-color);
    padding: 20px;
    display: block;

    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;

    border-radius: 4px;
    transition: all 200ms linear;
    cursor: pointer;
}

.button:active {
    opacity: 0.6;
}

.button:focus-visible {
    outline: none;
    box-shadow: var(--focus-box-shadow);
}

.button:disabled {
    opacity: 0.4;
    cursor: initial;
}

.button--outline,
.button--fill:hover:not(:disabled) {
    color: var(--red-color);

    background-color: var(--white-color);
}

.button--outline:hover:not(:disabled),
.button--fill {
    color: var(--white-color);

    background-color: var(--red-color);
}

.button--small {
    padding: 9px 19px 9px;
}

.button--linear {
    border: none;
    padding: 16px;

    color: var(--red-color);

    background-color: transparent;
}

.button--linear:hover {
    text-decoration: underline;
}

.button--filter {
    padding-left: 35px;

    position: relative;
}

.button--filter::before {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 50%;
    left: 0;

    content: "";

    background: url("../img/icon-filter.svg") no-repeat center;
    transform: translateY(-50%);
}

.button--grey {
    color: #454545;

    border-color: #BEBEBE;
}

.button--fluid {
    width: 100%;
}

.button--ps-0 {
    padding-left: 0;
    padding-right: 0;
}

.button--career {
    max-width: 295px;
    margin-top: 90px;
}

@media (min-width: 900px) {
    .button--ml-md-auto {
        margin-left: auto;
    }
}