.card {
    display: block;
    margin-right: 20px;
    padding: 22px 32px;

    text-decoration: none;

    border-radius: 4px;
    background-color: var(--white-color);
    background-repeat: no-repeat;
    background-position: right bottom;
    transition: background-size 200ms linear;
}

.card:hover .card__arrow {
    transform: translateX(16px);
}

.card:last-of-type {
    margin-right: 0;
}

.card--red {
    color: var(--white-color);

    background-color: #C71E1E;
}

.card--grey {
    color: var(--white-color);

    background-color: #3E3E3E;
}

.card--blue {
    color: var(--white-color);

    background-color: var(--blue-color);
}

.card--white {
    color: var(--black-color);

    background-color: var(--white-color);
}

.card--icon-check {
    background-image: url("../img/card-check.webp");
    background-size: 191px;
}

.card--icon-check:hover {
    background-size: 201px;
}

.card--icon-reverse {
    background-image: url("../img/card-reverse.webp");
    background-size: 174px;
}

.card--icon-reverse:hover {
    background-size: 184px;
}

.card--icon-display {
    background-image: url("../img/card-display.webp");
    background-size: 170px;
}

.card--icon-display:hover {
    background-size: 180px;
}

.card--icon-bonus {
    background-image: url("../img/card-bonus.webp");
    background-size: 177px;
}

.card--icon-bonus:hover {
    background-size: 187px;
}

.card--icon-mortgage {
    background-image: url("../img/card-mortgage.webp");
    background-size: 195px;
    background-position: bottom right 14px;
}

.card--icon-mortgage:hover {
    background-size: 205px;
}

.card--mt {
    margin-top: 20px;
}

.card--p-sm-0 {
    padding: 0;
}

.card__title {
    margin: 0 0 12px;

    font-size: 21px;
    line-height: 23px;
    font-weight: 600;
}

.card__arrow {
    margin-top: 40px;

    color: var(--white-color);

    transition: all 200ms linear;
}

.card__arrow--red {
    color: var(--red-color);
}

.card__paragraph {
    margin-bottom: 25px;

    color: #838383;
}

@media (max-width: 900px) {
    .card--sm-grey {
        background-color: #F2F2F2;
    }
}

@media (min-width: 900px) {
    .card--p-sm-0 {
        padding: 22px 32px;
    }
}

@media (min-width: 1400px) {
    .card--pr {
        padding-right: 168px;
    }
}