.footer {
    padding-top: 20px;

    position: relative;

    background-color: #3D3D3D;
}

.footer__top {
    padding: 11px 0 7px;
    border-bottom: 1px solid #606060;
}

.footer__bottom {
    padding: 40px 0 42px;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
}

.footer__logo {
    display: none;
    margin-right: 55px;

    color: #B7B7B7;
}

.footer__navigation {
    flex-direction: column;
    margin-top: 16px;

    color: #B3B3B3;
}

.footer__paragraph {
    color: #B3B3B3;
}

.footer__social {
    position: absolute;
    top: 37px;
    right: 27px;
}

.footer__button {
    margin-left: 0;
}

.footer__intrid {
    margin-left: 0;
    margin-bottom: 16px;
}

@media (min-width: 900px) {
    .footer__container {
        align-items: center;
        flex-direction: row;
    }

    .footer__logo {
        display: block;
    }

    .footer__navigation {
        flex-direction: row;
        margin-top: 0;
    }

    .footer__social {
        margin-left: auto;

        position: initial;
    }

    .footer__button {
        margin-left: auto;
    }

    .footer__intrid {
        margin-left: auto;
        margin-bottom: 0;
    }
}

@media (min-width: 1400px) {
    .footer {
        padding: 0;
    }

    .footer__container {
        justify-content: initial;
    }
}

@media print {
    .footer {
        display: none;
    }
}