@keyframes delay-overflow {
    from {
        overflow-y: hidden;
    }

    to {
        overflow-y: auto;
    }
}

.form-control {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    position: relative;
}

.form-control__label {
    display: block;
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 17px;
    color: #838383;
}

.form-control__group {
    display: flex;
}

.form-control__select-container {
    position: relative;
}

.form-control__select {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.form-control__select-opener {
    display: block;
    padding: 20px 36px 20px 26px;
    border: 1px solid #C1C1C1;
    width: 100%;

    position: relative;

    font-size: 14px;
    line-height: 15px;
    color: var(--black-color);

    border-radius: 4px;
}

.form-control__select-opener::after {
    width: 14px;
    height: 14px;

    position: absolute;
    top: 50%;
    right: 22px;

    content: "";

    transform: translateY(-50%);
    background: url("../img/icon-arrow-down.svg") no-repeat center;
}

.form-control__select-opener:hover,
.form-control__select-opener:focus-visible {
    border-color: var(--blue-color);
}

.form-control__select-opener:focus-visible {
    outline: none;
}

.form-control__select-panel {
    max-height: 0;
    width: 100%;

    position: absolute;
    top: 100%;
    z-index: 1;

    transition: max-height 200ms linear;
    background-color: var(--white-color);
    overflow: hidden;
}

.form-control__select-container--open .form-control__select-panel {
    max-height: 10.7em;

    animation: 1s delay-overflow forwards;
    outline: 1px solid var(--border-grey-color);
}

.form-control__select-option {
    padding: 0.5em;
}

.form-control__select-option--focus {
    background-color: rgba(220, 25, 25, 0.4);
}

.form-control--fill .form-control__input {
    padding: 30px 20px 10px;
    border: none;
    width: 100%;

    font-size: 14px;

    background-color: #F5F5F5;
    border-radius: 4px;
    transition: all 200ms linear;
    resize: none;
}

.form-control--fill .form-control__input:hover,
.form-control--fill .form-control__input:focus-visible {
    background-color: #E5E5E5;
}

.form-control--fill .form-control__input:focus {
    outline: none;
}

.form-control--fill .form-control__input::placeholder {
    opacity: 0;
}

.form-control--fill .form-control__input:placeholder-shown {
    padding: 20px;
}

.form-control--fill .form-control__label {
    position: absolute;
    top: 8px;
    left: 20px;

    font-size: 12px;
    color: var(--red-color);

    transition: all 200ms linear;
}

.form-control--fill .form-control__input:placeholder-shown ~ .form-control__label {
    top: 50%;
    left: 20px;

    font-size: 14px;
    color: #838383;

    transform: translateY(-50%);
    pointer-events: none;
}

.form-control--fill textarea.form-control__input:placeholder-shown ~ .form-control__label {
    top: 18px;

    transform: none;
}

