.gallery {
    padding-top: 0;
}

.gallery__slide {
    max-width: 580px;
    height: 380px;

    position: relative;

    overflow: hidden;
    border-radius: 4px;
}

.gallery__image {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.gallery--large .gallery__slide {
    max-width: none;
}

.gallery--large .gallery__image,
.gallery--large .gallery__slide {
    width: 100%;
}