.gallery {
    padding-top: 0;
}

.gallery__slide {
    max-width: 580px;
}

.gallery__image {
    border-radius: 4px;
}

.gallery--large .gallery__slide {
    max-width: none;
}

.gallery--large .gallery__image,
.gallery--large .gallery__slide {
    width: 100%;
}