.header {
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;

    position: fixed;
    z-index: 4;

    background-color: var(--white-color);
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-right: 0;
    order: 1;

    color: var(--red-color);
}

.header__navigation {
    margin-left: 0;
    order: 2;
    height: 0;
    flex-direction: column;
    width: 100%;

    color: var(--dark-color);

    visibility: hidden;
    transition: all 200ms linear;
}

.header--expanded .header__navigation {
    visibility: visible;
    height: 100vh;
}

.header__dropdown {
    display: flex;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    padding: 27px 0;

    left: 0;
    top: 96px;
    z-index: 3;

    background-color: var(--white-color);
}

.header__link-list {
    margin-right: 14px;
}

.header__button {
    display: none;
    order: 2;
    margin-left: 16px;

    text-transform: capitalize;
}

.header__card {
    display: none;
    align-self: center;
    flex-grow: 1;
    padding-right: 32px;
    padding-bottom: 0;
    margin-left: 111px;
    margin-top: -32px;

    color: var(--black-color);
}

.header__paragraph {
    color: inherit;
}

.header__toggle {
    display: block;
    border: none;
    padding: 0;
    order: 2;
    width: 31px;
    height: 31px;

    background-color: transparent;
    cursor: pointer;
}

.header__toggle-line {
    transition: all 200ms linear;
    transform-origin: center center;
}

.header--expanded .header__toggle-line:nth-child(1) {
    transform: translate(-6px, 5px) rotate(45deg);
}

.header--expanded .header__toggle-line:nth-child(2) {
    transform: translateX(16px);
    opacity: 0;
}

.header--expanded .header__toggle-line:nth-child(3) {
    transform: translate(-6px, -6px) rotate(-45deg);
}

.header__like {
    order: 1;
    margin-left: auto;
    margin-right: 16px;

    position: relative;
}

.header__like::before {
    width: 16px;
    height: 16px;

    position: absolute;
    top: -4px;
    right: -4px;

    content: attr(data-amount);
    color: var(--white-color);
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    background-color: var(--red-color);
    border-radius: 50%;
    pointer-events: none;
}

.header__like:not([data-amount])::before,
.header__like[data-amount="0"]::before {
    content: none;
}

@media (min-width: 900px) {
    .header {
        padding: 0;
    }

    .header--expanded .header__navigation {
        visibility: visible;
        height: auto;
    }

    .header__navigation {
        height: auto;
        width: auto;
        flex-direction: row;

        visibility: visible;
    }

    .header__button {
        display: block;
    }

    .header__toggle {
        display: none;
    }

    .header__dropdown {
        top: calc(100% - 1px);
        z-index: 1;
    }

    .header__link-list {
        margin-right: 107px;
    }

    .header__like {
        order: 2;
        margin-left: auto;
        margin-right: 0;
    }
}

@media (min-width: 1280px) {
    .header__logo {
        margin-right: 56px;
    }

    .header__navigation {
        margin-left: 25px;
    }

    .header__button {
        text-transform: initial;
    }

    .header__card {
        display: block;
    }
}

@media (min-width: 1400px) {
    .header__container {
        justify-content: initial;
    }

    .header__navigation {
        width: auto;
        order: 2;
    }

    .header__button {
        order: 3;
    }
}

@media print {
    .header {
        display: none;
    }
}
