.home {
    padding-top: 122px;
    padding-bottom: 71px;

    background-color: rgb(105, 101, 101);
    background-image: none;
    background-size: cover;
    background-position: center;
}

.home__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 46px;

    text-align: center;
}

.home__tagline {
    margin: 0;
    width: 100%;

    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: var(--white-color);
}

.home__paragraph {
    margin: 0;
    padding-top: 15px;
    max-width: 383px;

    color: var(--white-color);
}

.home__cards-wrapper {
    margin-top: 42px;
}

@media (min-width: 900px) {
    .home {
        background-image: image-set(
                url("../img/home@2x.webp") 2x,
                url("../img/home@1x.webp") 1x
        );
    }

    .home__wrapper {
        justify-content: space-between;

        text-align: initial;
    }

    .home__tagline {
        width: auto;

        font-size: 50px;
        line-height: 55px;
    }
}