.like {
    color: #BABABA;

    border-color: #BABABA;
}

.like__input:checked ~ .like__label {
    color: var(--white-color);

    border-color: var(--red-color);
    background-color: var(--red-color);
}

.like__input:focus ~ .like__label {
    box-shadow: var(--focus-box-shadow);
}

.like__input:disabled ~ .like__label {
    opacity: 0.4;
}

.like__label {
    width: 59px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;

    color: inherit;

    border-radius: 4px;
    background-color: transparent;
    transition: all 200ms linear;
    cursor: pointer;
    border-color: inherit;
}

.like__label:hover {
    color: var(--red-color);

    border-color: var(--red-color);
}

@media (max-width: 900px) {
    .header__like .like__label {
        width: 35px;
        height: 35px;
    }
}
