.map {
    border: none;
    height: 250px;
}

.map--mt {
    margin-top: 32px;
}

.map--contacts {
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

@media (max-width: 900px) {
    .map--contacts {
        height: 600px;
        margin-top: 37px;
        margin-bottom: -32px;

        position: relative;
    }

    .map--hidden {
        display: none;
    }
}

@media (min-width: 900px) {
    .map {
        height: 400px;
    }

    .map--contacts {
        height: 100%;
    }
}