.object-characteristics {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 50px;
    margin: 0;
}

.object-characteristics__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.object-characteristics__wrapper--icon {
    padding-left: 41px;
}

.object-characteristics__wrapper--icon::before {
    width: 25px;
    height: 25px;

    position: absolute;
    top: 50%;
    left: 0;

    content: "";

    transform: translateY(-50%);
}

.object-characteristics__wrapper--total-area::before {
    background: url("../img/icon-area.svg") no-repeat center;
}

.object-characteristics__wrapper--living-space::before {
    background: url("../img/icon-armchair.svg") no-repeat center;
}

.object-characteristics__wrapper--kitchen-area::before {
    background: url("../img/icon-kitchen.svg") no-repeat center;
}

.object-characteristics__wrapper--floor::before {
    background: url("../img/icon-floor.svg") no-repeat center;
}

.object-characteristics__term {
    font-size: 12px;
    line-height: 14px;
    color: #727272;
}

.object-characteristics__value {
    margin: 0;

    font-size: 14px;
    line-height: 17px;

    color: var(--black-color);
}

.object-characteristics__value--large {
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
}

@media (min-width: 900px) {
    .object-characteristics {
        justify-content: space-between;
        gap: 0;
    }
}