.person {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.person--large {
    gap: 32px;
}

.person__avatar {
    flex-shrink: 0;
    width: 130px;
    height: 130px;

    position: relative;
}

.person--large .person__avatar {
    width: 185px;
    height: 185px;
}

.person__image {
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.person__info {
    display: flex;
    flex-direction: column;
}

.person__name {
    margin: 0 0 10px;

    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
}
.person--large .person__name {
    font-size: 27px;
    line-height: 32px;
}

.person__paragraph {
    margin-bottom: 16px;

    line-height: 20px;
    color: #838383;
}

.person__paragraph--mb-auto {
    margin-bottom: auto;
}

.person__characteristics {
    padding-top: 32px;
}

.person__characteristics--mt-auto {
    margin-top: auto;
}

@media (min-width: 900px) {
    .person {
        flex-wrap: nowrap;
    }
}