.phone {
    display: block;
    padding: 16px 0 16px 32px;

    position: relative;

    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}

.phone__icon {
    width: 22px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 0;

    color: #C3C3C3;

    transform: translateY(-50%);
}

.phone:hover {
    color: var(--red-color);
}

.phone:hover .phone__icon {
    color: inherit;
}