.section {
    padding-top: 28px;
    padding-bottom: 28px;
}

.section--first {
    padding-top: 97px;
}

.section--pb-0 {
    padding-bottom: 0;
}

.section__header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.section__title {
    margin: 0 0 15px;

    font-size: 27px;
    line-height: 30px;
    font-weight: 600;
}

.section__subtitle {
    margin: 0 0 15px;

    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
}

.section__paragraph {
    display: none;

    color: #838383;
}

.section__paragraph--ml {
    margin-left: auto;
}

.section__button {
    display: none;
    padding: 20px 80px 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.section__filter {
    margin-top: 33px;
    margin-bottom: 33px;
}

.section__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.section__wrapper--mb-sm {
    margin-bottom: 24px;
}

@media (min-width: 900px) {
    .section--feedback {
        padding: 77px 0;

        background: url("../img/feedback.webp") no-repeat center right;
    }

    .section--grey {
        background-color: #F5F5F5;
    }

    .section__header {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .section__title {
        font-size: 35px;
        line-height: 39px;
    }

    .section__title--ml {
        margin-left: auto;
    }

    .section__subtitle {
        font-size: 27px;
        line-height: 32px;
    }

    .section__paragraph {
        display: block;
        grid-row: 2 / 3;
    }

    .section__button {
        display: block;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        margin: auto 0 auto auto;
    }

    .section__wrapper--mb-sm {
        margin-bottom: 0;
    }
}