.slider {
    position: relative;
}

.slider__list {
    padding: 42px 0 29px;
    margin: 0;

    list-style: none;
}

.slider__slide {
    box-sizing: border-box;
}

.slider__control {
    width: 37px;
    height: 38px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;

    color: var(--white-color);

    border-radius: 4px;
    background-color: #BEBEBE;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider__control:hover {
    color: var(--red-color);
}

.slider__control--left {
    left: 4px;
}

.slider__control--right {
    right: 4px;
}

.slider__control--disabled {
    opacity: 0.4;
}

.slider__control--disabled:hover {
    color: var(--white-color);
    cursor: initial;
}

.slider .slider__scrollbar {
    --swiper-scrollbar-border-radius: 1px;
    --swiper-scrollbar-sides-offset: 0%;
    --swiper-scrollbar-bg-color: #D9D9D9;
    --swiper-scrollbar-drag-bg-color: var(--red-color);
    --swiper-scrollbar-size: 6px;
}

.slider__scrollbar-drag {

}

@media (min-width: 1400px) {
    .slider__control--left {
        left: -59px;
    }

    .slider__control--right {
        right: -61px;
    }
}