.visually-hidden {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;

    position: absolute;

    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 1280px) {
    .visually-hidden--md {
        width: auto;
        height: auto;
        margin: initial;
        padding: initial;

        position: initial;

        clip: initial;
        overflow: initial;
        white-space: initial;
    }
}
