@font-face {
    font-family: "RF Dewi";
    src: local("RF Dewi"),
    url("../fonts/rf-dewi.woff2") format("woff2"),
    url("../fonts/rf-dewi.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}