img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "RF Dewi", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

sup {
  font-size: 10px;
}

[data-call="hidden"] {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;

  position: absolute;

  visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity 200ms linear;
}

[data-call="hidden"] * {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

[data-call="shown"] {
  height: auto;

  visibility: visible;
  opacity: 1;
  transition: opacity 200ms linear;
}
