img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "RF Dewi", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
